html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;

  .main-Container {
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px white solid;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 -2px 6px 1px rgba(237, 237, 236, 1);

    .news-letter-main-container {
      width: 100%;
      height: 80%;

      .news-container {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .news-main-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        margin-bottom: 4px;
        // overflow-y: scroll;
      }

      .news-image-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50%;

        .image-placeholder {
          width: 180px;
          height: 100px;
          background-color: #d8d8d8;
        }
      }

      .news-description-container {
        width: 100%;
        height: 45%;
        display: flex;
        margin-bottom: 10px;
        flex-direction: column;
        border: 1px white solid;
      }

      .news-check-container {
        label {
          position: relative;

          input {
            position: absolute;
            width: 0;
            cursor: pointer;
            height: 0;
            opacity: 0;

            &:checked {
              background-color: blue;
            }
          }

          span {
            position: absolute;
            top: 0;
            left: 0;
            height: 30px;
            width: 30px;
            border-radius: 100%;
            background-color: grey;

            &::after {
              content: "";
              position: absolute;
              display: none;
              left: 9px;
              top: 5px;
              width: 5px;
              height: 10px;
              border: solid white;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }

          &:hover input ~ span {
            border-color: #4292f4;
          }

          &:checked input ~ span {
            // I will keep going with this 
            background-color: #4292f4;
          }

          input:checked ~ span::after {
            display: block;
            background-color: #4292f4;
          }
        }
      }
    }

    .susbscribe-main-container {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 30%;
      justify-content: space-around;
      border-radius: 5px;
      background-color: white;
      box-shadow: 0 -4px 0 0 #e3e1e0;
      padding: 10px 0;

      input {
        background-color: #f5f5f5;
        border: 1px solid #fcfcfc;

        &::placeholder {
          padding: 0 6px;
          color: #a0a0a3;
        }
      }

      input,
      button {
        max-width: 300px;
        width: 80%;
        height: 40px;
        border-radius: 5px;
      }

      button {
        background-color: #4292f4;
        color: white;
        border: 1px solid #1073ec;
      }

      .subscribe-check-container {
        display: flex;
        font-size: 1px;
        flex-direction: column-reverse;
        align-items: center;        

        input {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
